# Virtual environments
venv/
.venv/
env/
ENV/
laptop-venv/
# BibleTranslations/
book_archive/

# Python bytecode/cache
__pycache__/
*.py[cod]
*$py.class

# Build / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Local env files
.env
.env.*

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db